<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h3>
                这时消息响应的测试,Vue用v-on:来引用消息的响应,简化起来就是@.如果发送消息时$.emit来发送
            </h3>
            <ul>
                <todo-item :del="del" :content="content"></todo-item>
            </ul>

            </hr>
            <todo-list ></todo-list>
        </div>
            <script>
                Vue.component("todo-list", {
                    template: `
                    <ul>
                        <todo-item v-for="item in list" :del="item.del" :content="item.title" @delete="handleDelete"></todo-item>
                    </ul>
                    `,
                    data: function() {
                        return {
                            list:[

                                {
                                    del: false,
                                    title: "this is 8"
                                },
                                {
                                    del: true,
                                    title: "this is 9"
                                },
                                {
                                    del: true,
                                    title: "this is 10"
                                },
                                {
                                    del: true,
                                    title: "this is 11"
                                },
                                {
                                    del: false,
                                    title: "this is 12"
                                },
                                {
                                    del: false,
                                    title: "this is 13"
                                }
                                    
                            ]
                        }
                    },
                    methods: {
                        handleDelete(val) {
                            console.log("handleDelete", val)
                        }
                    }
                })
                Vue.component("todo-item", {
                    props: {
                        content: String,
                        del: {
                            type: Boolean,
                            default: false
                        }
                    },
                    template: `
                    <li>
                        <span v-if="!del" >{{content}}</span>
                        <span v-else style="text-decoration: line-through">{{content}}</span>
                        <button v-show="!del" @click.stop="handleClick">删除</button>
                    </li>
                    `,
                    data: function() {
                        return {
                        }
                    },
                    methods: {
                        handleClick(e) {
                            console.log("点击删除!")
                            this.$emit("delete", this.content)
                            //e.stop
                        }
                    }
                })

                var vm = new Vue({
                    el: "#app",
                    data: {
                        content: "123 template",
                        del: false
                        }
                })

            </script>
    </body>
</html>
