<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <h3 style="text-decoration: line-through;">目前测试的时候组件component当props定义了之后data是不能填写的否则会报错.也就是两个目前来看是不能共存的</h3>
            <h2 >现在的测试时这样的,如果设置props那么说明这个数据时外部引用的如一个Vue,必须要要有一个外部的list,但是如果没有props的话,那么就是内部的data数据</h2>
            <ul>
                <todo-item :del="del" :content="content"></todo-item>
            </ul>

            </hr>
            <todo-list ></todo-list>
            <!-- <todo-list :list=list></todo-list> -->
            <base-checkbox v-model="lovingVue"></base-checkbox>
        </div>
            <script>
	            // v-model的例子程序
	            Vue.component('base-checkbox', {
		            model: {
				    	prop: 'checked',
				    	event: 'change'
 					 },
  					props: {
    					checked: Boolean
  					},
				    template: `
					    <input
					      type="checkbox"
					      v-bind:checked="checked"
					      v-on:change="$emit('change', $event.target.checked)"
					    >
					`
				})
                Vue.component("todo-list", {
                    /**props: {
                        list: Array
                    },**/
                    template: `
                    <ul>
                        <todo-item v-for="item in list" :del="item.del" :content="item.title"></todo-item>
                    </ul>
                    `,
                    data: function() {
                        return {
                            list:[

                                {
                                    del: false,
                                    title: "this is 8"
                                },
                                {
                                    del: true,
                                    title: "this is 9"
                                },
                                {
                                    del: true,
                                    title: "this is 10"
                                },
                                {
                                    del: true,
                                    title: "this is 11"
                                },
                                {
                                    del: false,
                                    title: "this is 12"
                                },
                                {
                                    del: false,
                                    title: "this is 13"
                                }
                                    
                            ]
                        }
                    }
                })
                Vue.component("todo-item", {
                    props: {
                        content: String,
                        del: {
                            type: Boolean,
                            default: false
                        }
                    },
                    template: `
                    <li>
                        <span v-if="!del" >{{content}}</span>
                        <span v-else style="text-decoration: line-through">{{content}}</span>
                    </li>
                    `,
                    data: function() {
                        return {
                        }
                    },
                    methods: {}
                })

                var vm = new Vue({
                    el: "#app",
                    data: {
                        content: "123 template",
                        del: false,
                        lovingVue: true,
                        /**list:[

                            {
                                del: false,
                                title: "this is 1"
                            },
                            {
                                del: true,
                                title: "this is 2"
                            },
                            {
                                del: true,
                                title: "this is 3"
                            },
                            {
                                del: true,
                                title: "this is 4"
                            },
                            {
                                del: false,
                                title: "this is 6"
                            },
                            {
                                del: false,
                                title: "this is 7"
                            }
                                
                        ]**/
                        }
                })

            </script>
    </body>
</html>
